/*UNIVERSALS*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

}
h1, h2, h3, h4, h5 ,h6 {
  font-weight: 700;
}
.lobster-text{
  font-family: 'Lobster',cursive;
}

.orange-text {
  color: #F8512F; /* orange color */
}

.raleway-text{
  font-family: 'Raleway',sans-serif;

}

.white-text{
  color: #fff;
}

.light-text {
  font-weight: 400;
}
/* NAV BAR SECTION */
.navbar-default{
  background-color: transparent;
  border: none;
}
/*CAROUSESL SECTION*/
.item{
  height: 450px;
  background-position: center;
  background-size: cover;
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg');

}

#wood-background{
  background-image: url('../img/wood-2.jpg');
  padding-top: 9%;


}
#farm-background {
  background-image: url('../img/farm-2.jpg');
}

#main-logo{
  width: 250px;
}
.carousel-caption h3 {
  font-size: 36px;

}
.carousel-caption{
  padding-bottom: 110px;
}
.carousel-caption p {
  font-size: 18px;
}
.btn-default {
  color: #fff;
  background-color: #f8512f;
  border: none;
}

.btn-default:hover{
  background-color: #d34326;
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: rgba(0,0,0, .5);
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default
.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #d34326;
  background-color: rgba(0, 0, 0, .15)
  text-shadow: 1px 1px rgba(0, 0, 0, .4);

}

/*Our Story */

#our-story {
  margin-top: 75px;
}

#our-story h1.lobster-text {
  text-shadow: 1px 1px #a7a7a7;
  font-size: 4.5em;

}

#year-text {
  position: absolute;
  font-size: 10em;
  color: rgba(0, 0, 0, .08);
  z-index: 0;
  font-family: 'Playfair Display', serif;
}

/* Fresno Bee */

#review {
background-image: url('../img/food_review.jpg');
height: 450px;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

#grey-box{
background-color: rgba(0, 0, 0, .4);
margin-top: 200px;
text-shadow: 1px 1px rgba(0,0,0,.05);
margin-top: 163px;
padding: 10px 0px;
border-radius: 5px;
}
#grey-box h3 {
  font-size: 50px;
}
#grey-box p {
  color: #fff;
  font-size: 18px;
}
/*---- MENU SECTION ---*/
#menu-section{
  background-image: url('../img/black_linen.png');
  background-size: contain;
  background-position: center;
  height: 650px;
}

.food-item {
  background-color: #fff;
}

#menu-section h1 {
  font-size: 60px;
}

.nav>li>a{
  color: #F8512F;
  text-transform: uppercase;


}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #F8512F;
  text-transform: uppercase;
}

.nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover{
  background-color: rgba(0, 0, 0, .003);

}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs>li>a:hover{
  border: none;
}
